@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  user-select: none;
  -webkit-user-drag: none;
}

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}
